* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0d352;
}

.container {
  width: 450px;
  background: rgb(84, 255, 186);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #df6af7;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #007bff;
  color: rgb(245, 147, 147);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.result {
  margin-top: 20px;
  display: none;
}

.result a {
  word-break: break-all;
}
